<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../cdn/css/bootstrap.min.css">
    <script src="../cdn/js/vue.min.js"></script>
    
</head>
<body>
    <div id="app">
        <div class="container">
            <h1 class="text-center">{{title}}</h1>
            <div class="row">
                <div class="col-md-4  col-md-offset-2">
                    <my-comp1 class="comp1"></my-comp1>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Or</h2>
                </div>
                <div class="col-md-4">
                    <my-comp2 class="comp2"></my-comp2>
                </div>
            </div>
        </div>
    </div>
    <script>
        const myButton = {
            methods:{
                pressed(val){
                    alert(val)
                },
            },
            data(){
                return{
                    item: ''
                }
            }
        }        ;
        const comp1 = {
            template: `
            <div>
                <h1>Enter Email</h1>
                <form>
                    <div class="form-group">
                        <input v-model="item"
                        type="email" class="form-control"
                        placeholder="Email Address"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg"
                            @click.prevent="pressed(item)">Press button 1</button>
                    </div>
                </form>
            </div>
            `,
            mixins: [myButton]
        };
        const comp2 = {
            template: `
            <div>
                <h1>Enter Number</h1>
                <form>
                    <div class="form-group">
                        <input v-model="item"
                        class="form-control"
                        placeholder="Phone Number"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning btn-lg"
                            @click.prevent="pressed(item)">Press button 2</button>
                    </div>
                </form>
            </div>
            `,
            mixins: [myButton]
        };            
        new Vue({
            el: '#app',
            data(){
                return {
                    title: 'Mixin in example has two components'
                }
            },
            components:{
                myComp1: comp1,
                myComp2: comp2
            }
        });
    </script>
</body>
</html>