
header h1{
    padding: 10px 20px;
}

body {
    /*max-width: 970px;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cart {
  padding: 20px 50px;
}
.boxes {
  margin-top: 20px;
}

.verify {
  margin-top: 20px;
  padding: 5px;
  background-color: #f9f9f9;

}

.submit {
  margin-top:20px;
  float: right;
}

.pagecheckout {
  padding: 20px 50px;
}
.description {
  font-size: 150%;
  margin-top:50px;
}
